body {
    header {
        display: block;
      margin-left: auto;
      margin-right: auto;
    }
    img {
        padding: 5px;
        width: 400px;
    }
}

.example-card {
    max-width: 400px;
    background-color: #34416B;
    font-family: "Lato", sans-serif;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  