
<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="text-light chevron-button sidenav-button"  [ngClass]="{'rotated': isExpanded}">chevron_right</mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="'dashboard'">
        <mat-icon mat-list-icon  class="text-light" >home</mat-icon>
        <span class="text-light ml-3 mr-5" *ngIf="isExpanded">Inicio</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'soluciones'">
        <mat-icon class="text-light" mat-list-icon>emoji_objects</mat-icon>
        <span class="text-light ml-3 mr-5" *ngIf="isExpanded">Soluciones</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'blog'">
        <mat-icon class="text-light" mat-list-icon>forum</mat-icon>
        <span class="text-light ml-3 mr-5" *ngIf="isExpanded">Blog</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'lms'" class="">
        <mat-icon class="text-light" mat-list-icon>class</mat-icon>
        <span class="text-light ml-3 mr-5 border-wb" *ngIf="isExpanded">Cursos</span>
      </mat-list-item>

    </mat-nav-list>
    
  </mat-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>