/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.mat-drawer{
    background-color: #0f162e  !important;
}
.bg-bar{
    background-color: #0f162e  !important;
}
.mat-drawer-side{
    border-right: solid 1px #0f162e !important;
}

body{
    background-color: #1D2C5B;
}

.bg-light{
    background-color: #D4D3D3 !important;
}
.text-sm{
    font-size: small;
}